.idea/
wp_core/wp-admin/
wp_core/wp-content/*
wp_core/wp-includes/
!wp_core/wp-content/languages/
!wp_core/wp-content/themes/
!wp_core/wp-content/plugins/

wp_core/wp-content/themes/index.php
/wp_core/wp-mail.php
/wp_core/wp-trackback.php
/wp_core/wp-cron.php
/wp_core/wp-login.php
/wp_core/index.php
/wp_core/wp-links-opml.php
/wp_core/wp-activate.php
/wp_core/wp-config-sample.php
/wp_core/wp-settings.php
/wp_core/wp-signup.php
/wp_core/readme.html
/wp_core/wp-load.php
/wp_core/.htaccess
/wp_core/wp-blog-header.php
/wp_core/license.txt
/wp_core/wp-comments-post.php
/wp_core/wp-config.php
/wp_core/xmlrpc.php
/wp_core/wp-content/plugins/
!/wp_core/wp-content/plugins/
